@import "colours";
@import "mixins";
@import "dtl-spinner";
@import "dtl-book";

/* Custom padding */

.noPadding {
	padding: 0;
}

.padding2 {
	padding: 2px;
}

.padding4 {
	padding: 4px;
}

.padding8 {
	padding: 8px;
}

/* Flex setup */

.flex-container {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: flex-start;
}
/* TODO [DB] move values to mixins */
.flex-items-default {
	width: 128px;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 128px;
	margin: 5px;
}