/* Book holder */

.bookHolder {
	-webkit-box-shadow: 1px 1px 1px 1px #E0E0E0;
	box-shadow: 1px 1px 1px 1px #E0E0E0;
	height: 214px;
}
.imageHolder {
	text-align: center;
	overflow: hidden;
	margin: auto auto;
	height: 192px;
}
.titleHolder {
	overflow:hidden;
	text-overflow: ellipsis;
}